name: iOS Build
on: [push, pull_request]
jobs:
  build:
    name: Build and upload StikQR
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'macos-13'
            xcode: '15.1'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          
      - name: Set Up Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
          xcodebuild -version
          
      - name: Build StikQR
        run: |
          xcodebuild -project StikQR.xcodeproj \
            -scheme StikQR \
            -sdk iphoneos \
            -configuration Release \
            clean build \
            CODE_SIGNING_ALLOWED=NO
          
      - name: Strip Debug Symbols
        working-directory: ./StikQR
        run: |
          BUILD_DIR="build/Release-iphoneos"
          if [ -d "$BUILD_DIR" ]; then
            find "$BUILD_DIR" -name "*.dSYM" -exec rm -rf {} \;
          fi
          
      - name: Create IPA
        working-directory: ./StikQR
        run: |
          BUILD_DIR="build/Release-iphoneos"
          if [ -d "$BUILD_DIR/StikQR.app" ]; then
            mkdir Payload
            ditto -c -k --sequesterRsrc --keepParent "$BUILD_DIR/StikQR.app" Payload/StikQR.ipa
            mv Payload/StikQR.ipa .
            rm -rf Payload
          else
            echo "Error: StikQR.app not found in build directory!"
            exit 1
          fi
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: iOS Build
          path: ./StikQR/StikQR.ipa
