name: iOS Build
on: [push, pull_request]
jobs:
  build:
    name: Build and upload StikQR
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'macos-13'  
            xcode: '15.1'  
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  
        with:
          submodules: recursive
          
      - name: Set Up Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
          xcodebuild -version
          
      - name: Build StikQR
        run: |
          xcodebuild -project StikQR.xcodeproj -scheme StikQR -sdk iphoneos -configuration Release clean build CODE_SIGNING_ALLOWED=NO
          
      - name: Strip Debug Symbols
        run: |
          cd build/Release-iphoneos
          find . -name "*.dSYM" -exec rm -rf {} \;
          
      - name: Create IPA
        run: |
          mkdir Payload
          cp -R build/Release-iphoneos/StikQR.app Payload/
          zip -r StikQR.ipa Payload
          rm -rf Payload
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: iOS Build
          path: StikQR.ipa
