name: iOS Build
on: [push, pull_request]

jobs:
  build:
    name: Build and upload StikQR.
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'macos-15'
            version: '15.1'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set Up Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.version }}.app
          xcodebuild -version

      - name: Build StikQR
        run: |
          xcodebuild -workspace StikQR.xcproject -scheme StikQR -sdk iphoneos -configuration Release clean build

      - name: Strip Debug Symbols
        run: |
          cd build/Release-iphoneos/StikQR.app
          find . -name "*.dSYM" -exec rm -rf {} \;

      - name: Convert to IPA 1
        run: mkdir -p Payload

      - name: Convert to IPA 2
        run: cp -R build/Release-iphoneos/StikQR.app Payload/

      - name: Convert to IPA 3
        run: zip -r StikQR.ipa Payload

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: iOS Build
          path: ./StikQR.ipa
